@import url('./reset.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e08fb6;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  background: linear-gradient(
    325deg,
    #03001e 0%,
    #7303c0 30%,
    #ec38bc 70%,
    #fdeff9 100%
  );
  padding: 40px auto;
}

h2 {
  font-size: clamp(1.5rem, 2vw, 3rem);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 10px;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.reset:focus {
  color: #ec38bc;
  background-color: #262809;
}

.game {
  width: clamp(300px, 0%, 450px);
  height: clamp(300px, 0%, 450px);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: clamp(65px, 0%, 100px);
  height: clamp(65px, 0%, 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
  cursor: pointer;
  border-radius: 10px;
  margin: auto;
}

.item::after {
  content: ' ';
  position: absolute;
  inset: 0;
  background: #5d296e;
  /* opacity: 0.85; */
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  border-radius: 10px;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
